
.header{
    position: relative;
    height: 240vh;
    .sc-sticky{
        position: relative;
        height: 150vh;
   
        .fix-area{
            position: fixed;
            top: 35px;
            right: 50px;
            z-index: 2 ;

            .connexion{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                background-color: rgba(246,240,255,.66);
                backdrop-filter: blur(8px);
                border-radius: 999px;
                padding: 25px 20px;

                .connextion-inner{
                display: flex;
                justify-content: space-between;
                gap: 50px;
                color: $blue-color;
                font-size: 13.5px;
                letter-spacing: 1.5px;
                
                    a{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        transition: 0.3s;
                    
                        .nav-icon{
                            position: relative;

                            .arrow{
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 22.5px;

                            }
                            .circle{
                                margin-left: 4px;
                                width: 22.5px;
                            
                            }
                        }
                        &:hover .arrow{
                            left: 7px;
                        }
                    }

                    .nav-menu{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 6px;
                        width: 25px;
                        height: 25px;
                        .menu-line{
                            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                            transform-style: preserve-3d;
                            width: 100%;
                            height: 2px;
                            background-color: $blue-color;
                        }
                    }
                }

            }
        }
        .side-menu{
            opacity: 0;
            transition: 0.3s;
            .menu-area{
                position: fixed;
                right: 0;
                top: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                display: flex;
                padding: 0 69px;
                gap: 250px;
                justify-content: space-between;
                overflow: hidden;
                background: linear-gradient(-80deg, #143180, #6119c2, #007fff, #7e269e ,rgba(0,237,233));
                background-size: 400% 400%;
                animation: gradient 12s ease infinite;
                .menu-left{
                    display: flex;
                    flex-direction: column;
                    gap: 60px;
                    color: #fff;
                    .logo{
                        display: flex;
                        align-items: center;
                        margin-top: 60px;
                        a{
                            width: 276.36px;
                            img{
                                width: 100%;
                            }

                        }
                    }
                    .title{
                        font-size: 78px;
                        font-weight: 600;
                        line-height: 100px;
                        letter-spacing: 2px;
                        padding-left: 30px;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 22px;
                        font-weight: 600;
                        padding-left: 30px;

                        li{
                            list-style: none;
                        }
                    }
                }
                .menu-right{
                    position: relative;
                    height: 100vh;
                    width: 100%;
                    
                    .img-box{
                        position: relative;
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 100vh;
                        background: #f00;
                        border-radius: 0 0 0 190px;
                        overflow: hidden;
                        z-index: 0;
                            .img{   
                                background-image: url(/assets/img/menu.webp);
                                background-position: -900px 50%;
                                background-size: 105%;
                                background-attachment: fixed;
                                width: 100%;
                                height: 100%;
                                .bg{
                                    position: absolute;
                                    top: 0;
                                    display: flex;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 2;
                                    background-color: rgba(20,49,128,.6);
                                }
                            }
                    }
                    
                }
                .connexion{
                    position: absolute;
                    right: 40px;
                    top: 21px;
                    display: flex;
                    gap: 30px;
                    padding: 25px 20px;

                    .connextion-inner{
                    display: flex;
                    justify-content: space-between;
                    gap: 33px;
                    color: #fff;
                    font-size: 13.5px;
                    letter-spacing: 1.5px;
                    
                        a{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            transition: 0.3s;
                        
                            .nav-icon{
                                position: relative;

                                .arrow{
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 22.5px;

                                }
                                .circle{
                                    margin-left: 4px;
                                    width: 22.5px;
                                
                                }
                            }
                            &:hover .arrow{
                                left: 7px;
                            }
                        }

                        .nav-menu{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 52px;
                            height: 52px;
                            background: #fff;
                            border-radius: 50%;
                            padding: 10px;
                            .menu-line{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform-style: preserve-3d;
                                width: 100%;
                                height: 1px;
                                background-color: $blue-color;
                                &.top{
                                    transform: rotate(45deg);
                                }
                                &.mid{
                                    display: none;
                                }
                                &.bottom{
                                    transform: rotate(-45deg);


                                }
                            }
                        }
                    }

                }
            }

            &.on{
                opacity: 1;

                .menu-area{
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 100;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 0 69px;
                    gap: 250px;
                    justify-content: space-between;
                    overflow: hidden;
                    background: linear-gradient(-80deg, #143180, #6119c2, #007fff, #7e269e ,rgba(0,237,233));
                    background-size: 400% 400%;
                    animation: gradient 12s ease infinite;
                    transition: 0.3s;
                    .menu-left{
                        display: flex;
                        flex-direction: column;
                        gap: 60px;
                        color: #fff;
                        .logo{
                            display: flex;
                            align-items: center;
                            margin-top: 60px;
                            a{
                                width: 276.36px;
                                img{
                                    width: 100%;
                                }

                            }
                        }
                        .title{
                            font-size: 78px;
                            font-weight: 600;
                            line-height: 100px;
                            letter-spacing: 2px;
                            padding-left: 30px;
                        }
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            font-size: 22px;
                            font-weight: 600;
                            padding-left: 30px;

                            li{
                                list-style: none;
                            }
                        }
                    }
                    .menu-right{
                        position: relative;
                        height: 100vh;
                        width: 100%;
                        
                        .img-box{
                            position: relative;
                            position: absolute;
                            left: 50%;
                            top: 0;
                            transform: translateX(-50%);
                            width: 100%;
                            height: 100vh;
                            background: #f00;
                            border-radius: 0 0 0 190px;
                            overflow: hidden;
                            z-index: 0;
                                .img{   
                                    background-image: url(/assets/img/menu.webp);
                                    background-position: -900px 50%;
                                    background-size: 105%;
                                    background-attachment: fixed;
                                    width: 100%;
                                    height: 100%;
                                    .bg{
                                        position: absolute;
                                        top: 0;
                                        display: flex;
                                        width: 100%;
                                        height: 100%;
                                        z-index: 2;
                                        background-color: rgba(20,49,128,.6);
                                    }
                                }
                        }
                        
                    }
                    .connexion{
                        position: absolute;
                        right: 40px;
                        top: 21px;
                        display: flex;
                        gap: 30px;
                        padding: 25px 20px;

                        .connextion-inner{
                        display: flex;
                        justify-content: space-between;
                        gap: 33px;
                        color: #fff;
                        font-size: 13.5px;
                        letter-spacing: 1.5px;
                        
                            a{
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                transition: 0.3s;
                            
                                .nav-icon{
                                    position: relative;

                                    .arrow{
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 22.5px;

                                    }
                                    .circle{
                                        margin-left: 4px;
                                        width: 22.5px;
                                    
                                    }
                                }
                                &:hover .arrow{
                                    left: 7px;
                                }
                            }

                            .nav-menu{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 52px;
                                height: 52px;
                                background: #fff;
                                border-radius: 50%;
                                padding: 10px;
                                .menu-line{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transform-style: preserve-3d;
                                    width: 100%;
                                    height: 1px;
                                    background-color: $blue-color;
                                    &.top{
                                        transform: rotate(45deg);
                                    }
                                    &.mid{
                                        display: none;
                                    }
                                    &.bottom{
                                        transform: rotate(-45deg);


                                    }
                                }
                            }
                        }

                    }
                }
            } 
               
        }
        .sticky-area{
            position: sticky;
            top: 0;
            padding: 35px 60px;

            .top-logo{
                img{
                    width: 180px;
                }
            }
            .main-logo{
                margin-top: 80px;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .main-desc{
                color: #fff;
                font-size: 36px;
                text-align: center;
                margin-top: 60px;
                span{
                    font-weight: 700;
                }

            }
        }
    }
}